---
import Layout from "../layout/Layout.astro";

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

import BackgroundWrapper from "../components/widgets/BackgroundWrapper.astro";

import LecturerBio from "../components/partials/lecturer/LecturerBio.astro";
import LecturerContact from "../components/partials/lecturer/LecturerContact.astro";
import LecturerMetadata from "../components/partials/lecturer/LecturerMetadata.astro";
import LecturerPortrait from "../components/partials/lecturer/LecturerPortrait.astro";
import LecturerTags from "../components/partials/lecturer/LecturerTags.astro";

const portrait =
  "https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp";

const name = "Mgr. Petra Swil Plachá MBA";
const claim = "Aktivní studentka / Předsedkyně spolku / Projektová manažerka";

const price = 1200;
const location = "Brno";

const tags = [
  "Dobrovolnictví",
  "Studentské spolky",
  "Efektivní učení",
  "Prezentační dovednosti",
  "Marketing pro neziskové studentské projekty",
  "Mimoškolní aktivity",
  "Projektový management, event management",
  "Fundraising pro neziskové studentské projekty",
];

const content =
  "<p>Baví mě organizovat věci. Ať už to bylo vyvíjení mobilních aplikací ve Futured, pořádání konferencí, spolupráce na soutěžích Prezentiáda, pIšQworky, <b>Tour de App</b> a Středoškolák roku, nebo třeba dobrovolnictví, vždycky jsem skončila u projektového managementu, rozvíjení soft-skills a vzdělávání.U studentských projektů a akcí jsem si vyzkoušela snad všechno od marketingu po logistiku a moc ráda to předám dál. Momentálně studuji Pdf MUNI a FF MUNI v Brně.</p>";

const telephones = ["+420 722 482 974"];
const emails = ["predseda@scg.cz", "placha@scg.cz"];
---

<Layout>
  <BackgroundWrapper class="background-wrapper">
    <div class="content-grid">
      <div class="bento-grid">
        <header>
          <Navbar class="navbar" />

          <div class="hero">
            <LecturerMetadata
              name={name}
              claim={claim}
              location={location}
              price={price}
              class="metadata"
            />
            <LecturerPortrait portrait={portrait} class="portrait" />
          </div>
        </header>

        <main>
          <LecturerTags
            tags={tags.map((tag) => ({ uuid: "", name: tag }))}
            class="tags"
          />
          <LecturerBio content={content} class="bio" />
          <LecturerContact
            contact={{ telephone_numbers: telephones, emails: emails }}
            class="contact"
          />
        </main>
      </div>

      <Footer />
    </div>
  </BackgroundWrapper>
</Layout>

<style lang="scss">
  .background-wrapper {
    min-height: 100vh;
  }

  .bento-grid {
    --spacing: 1.25rem;

    display: grid;
    padding-block-end: var(--spacing);
    gap: var(--spacing);
  }

  header,
  main,
  .hero {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    gap: inherit;
  }

  .navbar {
    grid-column: 1 / -1;
  }

  .portrait {
    grid-row: 1;
  }

  @media (min-width: 1200px) {
    .bento-grid {
      grid-template-columns: repeat(12, 1fr);
    }

    .metadata {
      grid-column: 4 / -1;
    }

    .portrait {
      grid-column: 1 / 4;
    }

    .tags {
      grid-column: 1 / -1;
    }

    .bio {
      grid-column: 1 / 9;
    }

    .contact {
      grid-column: 9 / -1;
    }
  }
</style>
