---
import Icon from "../components/Icon.astro";
type Props = {
  tags: string[];
  location: string;
  price: number;
  telephones: string[];
  emails: string[];
  [prop: string]: any;
};

const { tags, location, price, telephones, emails, ...props } = Astro.props;
---

<div {...props}>
  <div class="sheet vertical-box background-sky-blue text-white">
    <section class="tag-list-section">
      <h2 class="visually-hidden">Zaměření</h2>
      <ul class="tag-list">
        {tags.map((tag) => <li class="tag background-prussian-blue">{tag}</li>)}
      </ul>
    </section>
    <section class="vertical-box">
      <h2 class="title font-accent">Kontakt</h2>
      <div class="yellow-tags">
        <p class="tag background-sunglow">
          <span class="visually-hidden">Umístění:</span>
          <span>{location}</span>
        </p>
        <p class="tag background-sunglow">
          <span class="visually-hidden">Cena za hodinu:</span>
          <span>{price} Kč / hod</span>
        </p>
      </div>
      <div class="contact">
        <ul class="telephones" aria-label="Telefonní čísla">
          <Icon aria-hidden="true" icon="phone" />
          {
            telephones.map((telephone) => (
              <a class="unstyled-link" href={`tel:${telephone}`}>
                <li>{telephone}</li>
              </a>
            ))
          }
        </ul>
        <ul class="emails" aria-label="Emailové adresy">
          <Icon aria-hidden="true" icon="email" />
          <div class="emails-container">
            {
              emails.map((email) => (
                <li>
                  <a class="unstyled-link" href={`mailto:${email}`}>
                    {email}
                  </a>
                </li>
              ))
            }
          </div>
        </ul>
      </div>
    </section>
  </div>
</div>

<style lang="scss">
  .sheet {
    padding: 2rem;
    border-radius: 3rem;
    font-size: 1.25rem;
    line-height: 1;

    @media (max-width: 720px) {
      padding: 1rem;
      border-radius: 2.5rem;
    }
  }

  .vertical-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .tag {
    padding: 0.8em;
    border-radius: 100vmax;
    font-weight: 600;
  }

  .title {
    text-transform: uppercase;
    font-size: 2.2rem;
  }

  .tag-list-section {
    margin-block-end: 2rem;
  }

  .tag-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.8em;

    @media (max-width: 720px) {
      flex-direction: column;
      align-items: stretch;
      text-align: center;
    }
  }

  .yellow-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    .tag {
      padding: 0.6em;
    }
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    > ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: center;
      gap: 1rem;
    }
  }
  .emails-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
</style>
